@model IEnumerable<C1ASPRMS.Models.ViewPNR>

@{
    ViewBag.Title = "CheckPNRStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt-br.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy',
                endDate: '+0d',
                autoclose: true
            });
        });
    </script>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: none;
            background-color: #000435;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: white;
            border-width: 5px !important;
            border-style: solid !important;
            border-color: rgba(0, 128, 255, 0.9) !important;
        }

        .mydiv {
            background-color: #000435;
            color: white;
            font-weight: bold;
            padding: 7px;
            margin: 5px;
            font-size: 12px;
        }

        h3 {
            color: white;
            font-size: 28px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-color: #000435;">
            <div class="wrap-login100 p-t-190 p-b-45" style="display: block;border-radius:25px;margin:12px;width:1200px;padding:18px;background-color:#000435">
                <div class="login100-form-avatar">
                    <img src="~/Content/il.png" alt="AVATAR" />
                </div>
                <span class="login100-form-title p-t-20 p-b-45">
                    IRCTC
                </span>
                <center><h3>PNR STATUS</h3></center>
                <table class="table table-bordered">
                    <table class="table">


                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    PNR NUMBER:
                                </th>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.pnr)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    BOOKING DATE:
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.bookingdate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TRAIN NUMBER:
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.trainno)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    DATE OF JOURNEY:
                                </td>

                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.doj)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SOURCE:
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.source)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    DESTINATION:
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.destination)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CLASS
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.classes)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    BOOKING STATUS:
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(modelItem => item.bs)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><center>PASSENGER'S LIST</center></td>
                            </tr>
                            <tr>
                                @if (item.p1 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p1)
                                    </td>
                                }
                                @if (item.q1 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q1)
                                    </td>
                                }
                                @if (item.s1 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s1)
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (item.p2 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p2)
                                    </td>
                                }
                                @if (item.q2 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q2)
                                    </td>
                                }
                                @if (item.s2 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s2)
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (item.p3 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p3)
                                    </td>
                                }
                                @if (item.q3 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q3)
                                    </td>
                                }
                                @if (item.s3 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s3)
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (item.p4 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p4)
                                    </td>
                                }
                                @if (item.q4 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q4)
                                    </td>
                                }
                                @if (item.s4 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s4)
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (item.p5 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p5)
                                    </td>
                                }
                                @if (item.q5 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q5)
                                    </td>
                                }
                                @if (item.s5 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s5)
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (item.p6 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.p6)
                                    </td>
                                }
                                @if (item.q6 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.q6)
                                    </td>
                                }
                                @if (item.s6 != "NA")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.s6)
                                    </td>
                                }
                            </tr>

                        }

                    </table>
            </div>
        </div>
    </div>
</body>
</html>
