@model IEnumerable<C1ASPRMS.Models.SeatAvailability>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IRCTC =Ticket Booking</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <style>
        table, th, td {
            border: 3px solid black;
            background-color: #000435;
            font-size: 18px;
            font-weight: bold;
            color: whitesmoke;
            padding: 5px;
            border-width: 5px !important;
            border-style: solid !important;
            border-color: rgba(0, 128, 255, 0.9) !important;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            color: white;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-color: #000435;">
            <div class="wrap-login100 p-t-190 p-b-30" style="display: block;width:auto;border-radius:25px;margin:12px;padding:18px;background-color:#000435">
                <div class="login100-form-avatar">
                    <img src="~/Content/il.png" alt="AVATAR" />
                </div>
                <span class="login100-form-title p-t-20 p-b-45">
                    IRCTC
                </span>
                <center><h3>TICKET BOOKING</h3></center>
                <br>
                @foreach (var item in Model)
                {
                <table class="table table-bordered">
                    <tr>
                        <th colspan="4">
                           <center>SEAT AVAILLABILITY</center>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            TRAIN NO:
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.tno)
                        </td>
                        <th>
                            DATE:
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.dt)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            SOURCE:
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.source)
                        </td>
                        <th>
                            DESTINATION:
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.destination)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            CLASS:
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.classes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.avail)
                        </td>
                        <td>
                            <div class="container-login100-form-btn p-t-10">
                                @Html.ActionLink("TICKET FORM FILLING", "TicketFilling", "Home", null, new { @class = "btn btn-primary btn-large" })
                            </div>
                        </td>
                    </tr>
                </table>
                }

            </div>
        </div>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>
